#wp-debugger *, #wp-debugger ::before, #wp-debugger ::after {
		--tw-border-spacing-x: 0;
		--tw-border-spacing-y: 0;
		--tw-translate-x: 0;
		--tw-translate-y: 0;
		--tw-rotate: 0;
		--tw-skew-x: 0;
		--tw-skew-y: 0;
		--tw-scale-x: 1;
		--tw-scale-y: 1;
		--tw-pan-x:  ;
		--tw-pan-y:  ;
		--tw-pinch-zoom:  ;
		--tw-scroll-snap-strictness: proximity;
		--tw-gradient-from-position:  ;
		--tw-gradient-via-position:  ;
		--tw-gradient-to-position:  ;
		--tw-ordinal:  ;
		--tw-slashed-zero:  ;
		--tw-numeric-figure:  ;
		--tw-numeric-spacing:  ;
		--tw-numeric-fraction:  ;
		--tw-ring-inset:  ;
		--tw-ring-offset-width: 0px;
		--tw-ring-offset-color: #fff;
		--tw-ring-color: rgb(59 130 246 / 0.5);
		--tw-ring-offset-shadow: 0 0 #0000;
		--tw-ring-shadow: 0 0 #0000;
		--tw-shadow: 0 0 #0000;
		--tw-shadow-colored: 0 0 #0000;
		--tw-blur:  ;
		--tw-brightness:  ;
		--tw-contrast:  ;
		--tw-grayscale:  ;
		--tw-hue-rotate:  ;
		--tw-invert:  ;
		--tw-saturate:  ;
		--tw-sepia:  ;
		--tw-drop-shadow:  ;
		--tw-backdrop-blur:  ;
		--tw-backdrop-brightness:  ;
		--tw-backdrop-contrast:  ;
		--tw-backdrop-grayscale:  ;
		--tw-backdrop-hue-rotate:  ;
		--tw-backdrop-invert:  ;
		--tw-backdrop-opacity:  ;
		--tw-backdrop-saturate:  ;
		--tw-backdrop-sepia:  ;
		--tw-contain-size:  ;
		--tw-contain-layout:  ;
		--tw-contain-paint:  ;
		--tw-contain-style:  ;
}
#wp-debugger ::backdrop {
		--tw-border-spacing-x: 0;
		--tw-border-spacing-y: 0;
		--tw-translate-x: 0;
		--tw-translate-y: 0;
		--tw-rotate: 0;
		--tw-skew-x: 0;
		--tw-skew-y: 0;
		--tw-scale-x: 1;
		--tw-scale-y: 1;
		--tw-pan-x:  ;
		--tw-pan-y:  ;
		--tw-pinch-zoom:  ;
		--tw-scroll-snap-strictness: proximity;
		--tw-gradient-from-position:  ;
		--tw-gradient-via-position:  ;
		--tw-gradient-to-position:  ;
		--tw-ordinal:  ;
		--tw-slashed-zero:  ;
		--tw-numeric-figure:  ;
		--tw-numeric-spacing:  ;
		--tw-numeric-fraction:  ;
		--tw-ring-inset:  ;
		--tw-ring-offset-width: 0px;
		--tw-ring-offset-color: #fff;
		--tw-ring-color: rgb(59 130 246 / 0.5);
		--tw-ring-offset-shadow: 0 0 #0000;
		--tw-ring-shadow: 0 0 #0000;
		--tw-shadow: 0 0 #0000;
		--tw-shadow-colored: 0 0 #0000;
		--tw-blur:  ;
		--tw-brightness:  ;
		--tw-contrast:  ;
		--tw-grayscale:  ;
		--tw-hue-rotate:  ;
		--tw-invert:  ;
		--tw-saturate:  ;
		--tw-sepia:  ;
		--tw-drop-shadow:  ;
		--tw-backdrop-blur:  ;
		--tw-backdrop-brightness:  ;
		--tw-backdrop-contrast:  ;
		--tw-backdrop-grayscale:  ;
		--tw-backdrop-hue-rotate:  ;
		--tw-backdrop-invert:  ;
		--tw-backdrop-opacity:  ;
		--tw-backdrop-saturate:  ;
		--tw-backdrop-sepia:  ;
		--tw-contain-size:  ;
		--tw-contain-layout:  ;
		--tw-contain-paint:  ;
		--tw-contain-style:  ;
}
	#wp-debugger {
		color-scheme: light;
	}

#wp-debugger .fixed {
		position: fixed;
}

#wp-debugger .absolute {
		position: absolute;
}

#wp-debugger .bottom-0 {
		bottom: 0px;
}

#wp-debugger .left-0 {
		left: 0px;
}

#wp-debugger .right-0 {
		right: 0px;
}

#wp-debugger .top-0 {
		top: 0px;
}

#wp-debugger .z-\[999999\] {
		z-index: 999999;
}

#wp-debugger .mx-auto {
		margin-left: auto;
		margin-right: auto;
}

#wp-debugger .my-6 {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
}

#wp-debugger .mb-2 {
		margin-bottom: 0.5rem;
}

#wp-debugger .mb-4 {
		margin-bottom: 1rem;
}

#wp-debugger .mb-6 {
		margin-bottom: 1.5rem;
}

#wp-debugger .flex {
		display: flex;
}

#wp-debugger .table {
		display: table;
}

#wp-debugger .h-4 {
		height: 1rem;
}

#wp-debugger .h-auto {
		height: auto;
}

#wp-debugger .w-4 {
		width: 1rem;
}

#wp-debugger .w-fill {
		width: -webkit-fill-available;
}

#wp-debugger .w-fit {
		width: -moz-fit-content;
		width: fit-content;
}

#wp-debugger .w-full {
		width: 100%;
}

#wp-debugger .min-w-full {
		min-width: 100%;
}

#wp-debugger .cursor-pointer {
		cursor: pointer;
}

#wp-debugger .items-center {
		align-items: center;
}

#wp-debugger .justify-end {
		justify-content: flex-end;
}

#wp-debugger .justify-between {
		justify-content: space-between;
}

#wp-debugger .gap-2 {
		gap: 0.5rem;
}

#wp-debugger .space-y-4 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

#wp-debugger .overflow-auto {
		overflow: auto;
}

#wp-debugger .rounded {
		border-radius: 0.25rem;
}

#wp-debugger .rounded-lg {
		border-radius: 0.5rem;
}

#wp-debugger .rounded-md {
		border-radius: 0.375rem;
}

#wp-debugger .border {
		border-width: 1px;
}

#wp-debugger .border-l-4 {
		border-left-width: 4px;
}

#wp-debugger .border-gray-300 {
		--tw-border-opacity: 1;
		border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

#wp-debugger .border-red-400 {
		--tw-border-opacity: 1;
		border-color: rgb(248 113 113 / var(--tw-border-opacity));
}

#wp-debugger .bg-gray-200 {
		--tw-bg-opacity: 1;
		background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

#wp-debugger .bg-gray-800 {
		--tw-bg-opacity: 1;
		background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

#wp-debugger .bg-red-50 {
		--tw-bg-opacity: 1;
		background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}

#wp-debugger .bg-slate-100 {
		--tw-bg-opacity: 1;
		background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

#wp-debugger .bg-slate-50 {
		--tw-bg-opacity: 1;
		background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

#wp-debugger .bg-white {
		--tw-bg-opacity: 1;
		background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

#wp-debugger .p-1 {
		padding: 0.25rem;
}

#wp-debugger .p-2 {
		padding: 0.5rem;
}

#wp-debugger .p-4 {
		padding: 1rem;
}

#wp-debugger .p-6 {
		padding: 1.5rem;
}

#wp-debugger .p-8 {
		padding: 2rem;
}

#wp-debugger .px-3 {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
}

#wp-debugger .px-4 {
		padding-left: 1rem;
		padding-right: 1rem;
}

#wp-debugger .py-1 {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
}

#wp-debugger .py-2 {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
}

#wp-debugger .align-baseline {
		vertical-align: baseline;
}

#wp-debugger .text-2xl {
		font-size: 1.5rem;
		line-height: 2rem;
}

#wp-debugger .text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem;
}

#wp-debugger .font-bold {
		font-weight: 700;
}

#wp-debugger .font-medium {
		font-weight: 500;
}

#wp-debugger .font-semibold {
		font-weight: 600;
}

#wp-debugger .text-gray-800 {
		--tw-text-opacity: 1;
		color: rgb(31 41 55 / var(--tw-text-opacity));
}

#wp-debugger .text-indigo-600 {
		--tw-text-opacity: 1;
		color: rgb(79 70 229 / var(--tw-text-opacity));
}

#wp-debugger .text-red-600 {
		--tw-text-opacity: 1;
		color: rgb(220 38 38 / var(--tw-text-opacity));
}

#wp-debugger .text-red-700 {
		--tw-text-opacity: 1;
		color: rgb(185 28 28 / var(--tw-text-opacity));
}

#wp-debugger .text-white {
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
}

#wp-debugger .shadow-lg {
		--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
		--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#wp-debugger .even\:border-gray-400:nth-child(even) {
		--tw-border-opacity: 1;
		border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

#wp-debugger .even\:bg-gray-200:nth-child(even) {
		--tw-bg-opacity: 1;
		background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

#wp-debugger .even\:bg-slate-100:nth-child(even) {
		--tw-bg-opacity: 1;
		background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

#wp-debugger .hover\:bg-gray-100:hover {
		--tw-bg-opacity: 1;
		background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

#wp-debugger .hover\:underline:hover {
		text-decoration-line: underline;
}
