#wp-debugger *, #wp-debugger ::before, #wp-debugger ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

#wp-debugger ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

#wp-debugger *,
#wp-debugger ::before,
#wp-debugger ::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

#wp-debugger ::before,
#wp-debugger ::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

#wp-debugger,
#wp-debugger :host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

#wp-debugger {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

#wp-debugger hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

#wp-debugger abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

#wp-debugger h1,
#wp-debugger h2,
#wp-debugger h3,
#wp-debugger h4,
#wp-debugger h5,
#wp-debugger h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

#wp-debugger a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

#wp-debugger b,
#wp-debugger strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

#wp-debugger code,
#wp-debugger kbd,
#wp-debugger samp,
#wp-debugger pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

#wp-debugger small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

#wp-debugger sub,
#wp-debugger sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#wp-debugger sub {
  bottom: -0.25em;
}

#wp-debugger sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

#wp-debugger table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

#wp-debugger button,
#wp-debugger input,
#wp-debugger optgroup,
#wp-debugger select,
#wp-debugger textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

#wp-debugger button,
#wp-debugger select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

#wp-debugger button,
#wp-debugger input:where([type='button']),
#wp-debugger input:where([type='reset']),
#wp-debugger input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

#wp-debugger :-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

#wp-debugger :-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

#wp-debugger progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

#wp-debugger ::-webkit-inner-spin-button,
#wp-debugger ::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

#wp-debugger [type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

#wp-debugger ::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

#wp-debugger ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

#wp-debugger summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

#wp-debugger blockquote,
#wp-debugger dl,
#wp-debugger dd,
#wp-debugger h1,
#wp-debugger h2,
#wp-debugger h3,
#wp-debugger h4,
#wp-debugger h5,
#wp-debugger h6,
#wp-debugger hr,
#wp-debugger figure,
#wp-debugger p,
#wp-debugger pre {
  margin: 0;
}

#wp-debugger fieldset {
  margin: 0;
  padding: 0;
}

#wp-debugger legend {
  padding: 0;
}

#wp-debugger ol,
#wp-debugger ul,
#wp-debugger menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
#wp-debugger dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

#wp-debugger textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

#wp-debugger input::-moz-placeholder, #wp-debugger textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

#wp-debugger input::placeholder,
#wp-debugger textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

#wp-debugger button,
#wp-debugger [role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
#wp-debugger :disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

#wp-debugger img,
#wp-debugger svg,
#wp-debugger video,
#wp-debugger canvas,
#wp-debugger audio,
#wp-debugger iframe,
#wp-debugger embed,
#wp-debugger object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

#wp-debugger img,
#wp-debugger video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
#wp-debugger [hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
	#wp-debugger {
		color-scheme: light;
	}

#wp-debugger .fixed {
  position: fixed;
}

#wp-debugger .absolute {
  position: absolute;
}

#wp-debugger .bottom-0 {
  bottom: 0px;
}

#wp-debugger .left-0 {
  left: 0px;
}

#wp-debugger .right-0 {
  right: 0px;
}

#wp-debugger .top-0 {
  top: 0px;
}

#wp-debugger .z-\[999999\] {
  z-index: 999999;
}

#wp-debugger .z-wp {
  z-index: 999999;
}

#wp-debugger .mx-auto {
  margin-left: auto;
  margin-right: auto;
}

#wp-debugger .my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#wp-debugger .mb-2 {
  margin-bottom: 0.5rem;
}

#wp-debugger .mb-4 {
  margin-bottom: 1rem;
}

#wp-debugger .mb-6 {
  margin-bottom: 1.5rem;
}

#wp-debugger .flex {
  display: flex;
}

#wp-debugger .table {
  display: table;
}

#wp-debugger .h-4 {
  height: 1rem;
}

#wp-debugger .h-auto {
  height: auto;
}

#wp-debugger .w-4 {
  width: 1rem;
}

#wp-debugger .w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

#wp-debugger .w-full {
  width: 100%;
}

#wp-debugger .min-w-full {
  min-width: 100%;
}

#wp-debugger .cursor-pointer {
  cursor: pointer;
}

#wp-debugger .items-center {
  align-items: center;
}

#wp-debugger .justify-end {
  justify-content: flex-end;
}

#wp-debugger .justify-between {
  justify-content: space-between;
}

#wp-debugger .gap-2 {
  gap: 0.5rem;
}

#wp-debugger .space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

#wp-debugger .overflow-auto {
  overflow: auto;
}

#wp-debugger .rounded {
  border-radius: 0.25rem;
}

#wp-debugger .rounded-lg {
  border-radius: 0.5rem;
}

#wp-debugger .rounded-md {
  border-radius: 0.375rem;
}

#wp-debugger .border {
  border-width: 1px;
}

#wp-debugger .border-l-4 {
  border-left-width: 4px;
}

#wp-debugger .border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

#wp-debugger .border-red-400 {
  --tw-border-opacity: 1;
  border-color: rgb(248 113 113 / var(--tw-border-opacity));
}

#wp-debugger .bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

#wp-debugger .bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

#wp-debugger .bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}

#wp-debugger .bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

#wp-debugger .bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

#wp-debugger .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

#wp-debugger .p-1 {
  padding: 0.25rem;
}

#wp-debugger .p-2 {
  padding: 0.5rem;
}

#wp-debugger .p-4 {
  padding: 1rem;
}

#wp-debugger .p-6 {
  padding: 1.5rem;
}

#wp-debugger .p-8 {
  padding: 2rem;
}

#wp-debugger .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#wp-debugger .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

#wp-debugger .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#wp-debugger .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#wp-debugger .align-baseline {
  vertical-align: baseline;
}

#wp-debugger .text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

#wp-debugger .text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#wp-debugger .font-bold {
  font-weight: 700;
}

#wp-debugger .font-medium {
  font-weight: 500;
}

#wp-debugger .font-semibold {
  font-weight: 600;
}

#wp-debugger .text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

#wp-debugger .text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

#wp-debugger .text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

#wp-debugger .text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

#wp-debugger .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#wp-debugger .shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#wp-debugger .even\:border-gray-400:nth-child(even) {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

#wp-debugger .even\:bg-gray-200:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

#wp-debugger .even\:bg-slate-100:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

#wp-debugger .hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

#wp-debugger .hover\:underline:hover {
  text-decoration-line: underline;
}
